<div class="delivery">
   <div class="delivery__container container">
      <div class="delivery__inner">
         <div class="delivery__col delivery-col">
            <a href="" class="delivery-col__link">
               <img src="images/icon/delivery.svg" alt="delivery">
            </a>
            <div class="delivery-col__title">
               Условия доставки в г. Березовский
            </div>
            <p class="delivery-col__text">
               Мы привезем ваш подарочный набор при заказе <span>от 1000 рублей</span>
               совершенно <span>бесплатно!</span>
            </p>
            <p class="delivery-col__text">
               Мы привезем ваш подарочный набор при заказе <span>от 1000 рублей</span>
               совершенно <span>бесплатно!</span>
            </p>
         </div>
         <div class="delivery__col delivery-col">
            <a href="" class="delivery-col__link">
               <img src="images/icon/delivery.svg" alt="delivery">
            </a>
            <div class="delivery-col__title">
               Условия доставки
            </div>
            <p class="delivery-col__text">
               Доставка по <span>г. Екатеринбург</span>
               стоимость доставки <span>250 рублей.</span>
            </p>
            <p class="delivery-col__text">
               В отдаленные <span>районы и близлежащие города</span> Екатеринбурга - <span>от 250 рублей</span>
               (стоимсоть зависит от расстояния)
            </p>
         </div>
      </div>
   </div>
</div>