<section class="form" style="background-image: url(images/bg-icon/form-bg.jpg);">
   <div class="form__container container">
      <div class="form__inner">
         <h3 class="form__title">Мы создадим для вас уникальный подарок!</h3>
         <form class="form__box" action="">
            <input type="text" class="form__input" placeholder="Ваше имя">
            <input type="tel" class="form__input" placeholder="Ваш номер телефона">
            <button class="form__btn" type="submit">Отправить</button>
            <label class="form__text">
               <input class="form__checkbox" type="checkbox">
               <span class="form__castom"></span>
               Я даю согласие на обработку моих данных
            </label>
         </form>
      </div>
   </div>
</section>