<header class="header">
   <div class="header__container container">
      <div class="header__top">
         <a data-fancybox data-src="#modal" href="javascript:;" class="header__call">Заказать звонок</a>
         <a href="" class="header__logo">
            <img src="../images/logo_short.svg" alt="">
         </a>
         <a class="header__tel" href="tel:+79025038155">+7 902 503 81 55</a>
         <div class="menu__icon icon-menu">
            <span></span>
            <span></span>
            <span></span>
         </div>
      </div>
      <div class="header__row">
         <div class="header__menu menu">
            <nav class="menu__body">
               <ul class="menu__list">
                  <li><a href="" class="menu__link">О клубнике и шоколаде</a></li>
                  <li><a href="" class="menu__link">Наша продукция </a></li>
                  <li><a href="" class="menu__link">Презент</a></li>
                  <li><a href="" class="menu__link">Как купить</a></li>
                  <li><a href="" class="menu__link">Условия доставки</a></li>
                  <li><a href="" class="menu__link">Отзывы</a></li>
                  <li><a href="" class="menu__link">Контакты</a></li>
               </ul>
            </nav>
         </div>
      </div>
   </div>
</header>