<div class="main">
   <div class="main__container container">
      <div class="main__body main-body">
         <div class="main-body__inner">
            <a class="main-body__link" href="#">
               <img class="main-body__img" src="images/bg-icon/bg-offer.svg" alt="">
            </a>
            <div class="main-body__book book">
               <p class="book__text">
                  Забронируй подарок за <span>10 дней</span>
                  до события и получи <span>скидку 10 %</span>
               </p>
               <a class="book__btn btn" href="">Забронировать</a>
            </div>
            <div class="main-body__social social">
               <a class="social__link" href="">
                  <img src="images/icon/insta.svg" alt="insta">
               </a>
               <a class="social__link" href="">
                  <img src="images/icon/vk.svg" alt="vk">
               </a>
            </div>
         </div>


      </div>
   </div>
</div>