<section class="office">
   <div class="office__container container">
      <div class="office__inner">
         <div class="office__card office-card">
            <h4 class="office-card__title">
               Приезжайте к нам в офис
            </h4>
            <p class="office-card__text">
               и мы угостим вас чашечкой бодрящего ароматного кофе и клубникой в шоколаде
            </p>
            <address class="office-card__address">
               г. Березовский, ул. Косых, д. 8, 623702
            </address>
         </div>
      </div>
   </div>
</section>