<div class="form__popup popup" id="modal">
   <h3 class="popup__title">Наш менеджер свяжется с вами в течении 15 минут!</h3>
   <form class="popup__box" action="">
      <input type="text" class="popup__input" placeholder="Ваше имя">
      <input type="tel" class="popup__input" placeholder="Ваш номер телефона">
      <button class="popup__btn" type="submit">Отправить</button>
      <label class="popup__text">
         <input class="popup__checkbox" type="checkbox">
         <span class="popup__castom"></span>
         Я даю согласие на обработку моих данных
      </label>
   </form>
</div>