<section class="reviews">
   <div class="reviews__container container">
      <div class="reviews__title title">
         <h3 class="title__descr">
            Оставьте свой отзыв
         </h3>
         <p class="title__text">
            После того, как насладитесь незабываемым вкусом клубники в шоколаде
         </p>
      </div>
      <div class="reviews__inner">
         <div class="reviews__col col-reviews">
            <div class="col-reviews__title">
               Напишите в нашу группу ВК
            </div>
            <a href="#" class="col-reviews__link">
               <img src="../images/icon/vk.svg" alt="vk">
            </a>
         </div>
         <div class="reviews__col col-reviews">
            <div class="col-reviews__title">
               Напишите нам в Инстаграмм
            </div>
            <a href="#" class="col-reviews__link">
               <img src="../images/icon/insta.svg" alt="insta">
            </a>
         </div>
      </div>
      <div class="reviews__slider slider-reviews">
         <div class="slider-reviews__inner">
            <div class="slider-reviews__box">
               <div class="slider-reviews__avatar">
                  <a class="slider-reviews__link" href="#">
                     <img src="images/content/avatar.jpg" alt="">
                  </a>
                  <div class="slider-reviews__name">
                     Наталья Эрлих
                  </div>
               </div>
               <div class="slider-reviews__coment">
                  Заказали на день рождения дочери детский набор. Было много восторгов, детям очень понравилось! Спасибо
                  за
                  свежий и незабываемый вкус!
               </div>
            </div>
            <div class="slider-reviews__box">
               <div class="slider-reviews__avatar">
                  <a class="slider-reviews__link" href="#">
                     <img src="images/content/avatar.jpg" alt="">
                  </a>
                  <div class="slider-reviews__name">
                     Наталья Эрлих
                  </div>
               </div>
               <div class="slider-reviews__coment">
                  Заказали на день рождения дочери детский набор. Было много восторгов, детям очень понравилось! Спасибо
                  за
                  свежий и незабываемый вкус!
               </div>
            </div>
            <div class="slider-reviews__box">
               <div class="slider-reviews__avatar">
                  <a class="slider-reviews__link" href="#">
                     <img src="images/content/avatar.jpg" alt="">
                  </a>
                  <div class="slider-reviews__name">
                     Наталья Эрлих
                  </div>
               </div>
               <div class="slider-reviews__coment">
                  Заказали на день рождения дочери детский набор. Было много восторгов, детям очень понравилось! Спасибо
                  за
                  свежий и незабываемый вкус!
               </div>
            </div>
            <div class="slider-reviews__box">
               <div class="slider-reviews__avatar">
                  <a class="slider-reviews__link" href="#">
                     <img src="images/content/avatar.jpg" alt="">
                  </a>
                  <div class="slider-reviews__name">
                     Наталья Эрлих
                  </div>
               </div>
               <div class="slider-reviews__coment">
                  Заказали на день рождения дочери детский набор. Было много восторгов, детям очень понравилось! Спасибо
                  за
                  свежий и незабываемый вкус!
               </div>
            </div>
         </div>
         <div class="slider-reviews__pagination">

         </div>
      </div>
   </div>
</section>