<section class="sets">
   <div class="sets__container container">
      <div class="sets__title title">
         <h3 class="title__descr title__descr--color">Подарочные наборы и букеты</h3>
         <p class="title__text title__text--size title__text--color">
            Мы предлагаем вам не просто клубнику в шоколаде.
            Мы предлагаем подлинное удовольствие от вкуса!
         </p>
      </div>
      <div class="sets__inner">
         <div class="sets__col sets-col">
            <a class="sets-col__link" href="#">
               <img class="sets-col__image" src="images/sets/sets-01.png" alt="sets">
            </a>
            <div class="sets-col__type">
               Подарочный набор
            </div>
            <div class="sets-col__quantity">
               6 ягод
            </div>
            <div class="sets-col__price">
               500 руб.
            </div>
            <a class="sets-col__btn btn" href="#">Забронировать</a>
         </div>
         <div class="sets__col sets-col">
            <a class="sets-col__link" href="#">
               <img class="sets-col__image" src="images/sets/sets-02.png" alt="sets">
            </a>
            <div class="sets-col__type">
               Подарочный набор
            </div>
            <div class="sets-col__quantity">
               10 ягод
            </div>
            <div class="sets-col__price">
               900 руб.
            </div>
            <a class="sets-col__btn btn" href="#">Забронировать</a>
         </div>
         <div class="sets__col sets-col">
            <a class="sets-col__link" href="#">
               <img class="sets-col__image" src="images/sets/sets-03.png" alt="sets">
            </a>
            <div class="sets-col__type">
               Подарочный набор
            </div>
            <div class="sets-col__quantity">
               20 ягод
            </div>
            <div class="sets-col__price">
               1800 руб.
            </div>
            <a class="sets-col__btn btn" href="#">Забронировать</a>
         </div>
         <div class="sets__col sets-col">
            <a class="sets-col__link" href="#">
               <img class="sets-col__image" src="images/sets/sets-04.png" alt="sets">
            </a>
            <div class="sets-col__type">
               Подарочный набор
            </div>
            <div class="sets-col__quantity">
               16 ягод (детский)
            </div>
            <div class="sets-col__price">
               1200 руб.
            </div>
            <a class="sets-col__btn btn" href="#">Забронировать</a>
         </div>
         <div class="sets__col sets-col">
            <a class="sets-col__link" href="#">
               <img class="sets-col__image" src="images/sets/sets-05.png" alt="sets">
            </a>
            <div class="sets-col__type">
               Подарочный набор
            </div>
            <div class="sets-col__quantity">
               15 ягод
            </div>
            <div class="sets-col__price">
               1500 руб.
            </div>
            <a class="sets-col__btn btn" href="#">Забронировать</a>
         </div>
         <div class="sets__col sets-col">
            <a class="sets-col__link" href="#">
               <img class="sets-col__image" src="../images/sets/sets-06.png" alt="sets">
            </a>
            <div class="sets-col__type">
               Подарочный набор
            </div>
            <div class="sets-col__quantity">
               15 ягод
            </div>
            <div class="sets-col__price">
               1500 руб.
            </div>
            <a class="sets-col__btn btn" href="#">Забронировать</a>
         </div>
      </div>
   </div>
</section>