<section class="specification">
   <div class="specification__container container">
      <div class="specification__title title">
         <h3 class="title__descr">О клубнике и шоколаде</h3>
         <p class="title__text">
            У нас только самая свежая и сладкая клубника,
            которую мы покрываем шоколадом вручную.
         </p>
      </div>
      <div class="specification__item">
         <div class="specification__col col-card">
            <a class="col-card__link" href="">
               <img src="images/bg-icon/icon-menu-1.svg" alt="icon">
            </a>
            <div class="col-card__title">
               Самые свежие компоненты
            </div>
            <div class="col-card__descr">
               Свежую клубнику мы покупаем у поставщика, которому доверяем. Всегда соблюдаем сроки годности. Не храним
               товар более суток
            </div>
         </div>
         <div class="specification__col col-card">
            <a class="col-card__link" href="">
               <img src="images/icon/icon-2.svg" alt="icon">
            </a>
            <div class="col-card__title">
               Экологичность
            </div>
            <div class="col-card__descr">
               Мы заботимся о вашем здоровье и об окружющей среде, поэтому украшаем наши наборы экологичными и
               биоразлагаемыми материалами.
            </div>
         </div>
         <div class="specification__col col-card">
            <a class="col-card__link col-card__link--position" href="">
               <img src="images/icon/icon-3.svg" alt="icon">
            </a>
            <div class="col-card__title">
               Вкуснейший шоколад
            </div>
            <div class="col-card__descr">
               Покроем шоколадом на ваш вкус: бельгийский Callebaut, итальянский IRCA, российский без сахара и
               натуральными пищевыми красителями и украшениями.
            </div>
         </div>
         <div class="specification__col col-card">
            <a class="col-card__link col-card__link--position" href="">
               <img src="images/icon/icon-4.svg" alt="icon">
            </a>
            <div class="col-card__title">
               Удобная оплата
            </div>
            <div class="col-card__descr">
               Вы можете оплатить заказ удобным для вас способом: у нас в офисе или при доставке.
            </div>
         </div>
         <div class="specification__col col-card">
            <a class="col-card__link" href="">
               <img src="images/icon/icon-5.svg" alt="icon">
            </a>
            <div class="col-card__title">
               Разнообразие посыпок
            </div>
            <div class="col-card__descr">
               Мы используем натуральные посыпки (орехи, кокосовая стружка, сублимированная клубника, шоколадная
               стружка).
            </div>
         </div>
         <div class="specification__col col-card">
            <a class="col-card__link" href="">
               <img src="images/icon/icon-6.svg" alt="icon">
            </a>
            <div class="col-card__title">
               С любовью
            </div>
            <div class="col-card__descr">
               Все наши наборы мы создаем и собираем в ручную с любовью и улыбкой.
            </div>
         </div>

      </div>
      <div class="specification__descr">
         <p class="specification__descr-text">Насладитесь свежестью и вкусом клубники, как только получите ее! </p>
         <p class="specification__descr-text">Продукт хранится в холодильнике при температуре 2-3°. Срок хранения 1- 2
            дня.
         </p>
      </div>
   </div>
</section>