//====================================================================================================
.popup {
   display: none;
   background: rgba(80, 84, 87, 0.49);
   box-shadow: 19px 19px 61px #030915, -20px -18px 66px rgba(186, 247, 114, 0.24);
   border-radius: 15px;
   // .form__inner
   .fancybox-button {
      top: 10px;
      right: 10px;
      background: url("../images/icon/close.svg") 0 0 no-repeat;
      svg {
         display: none;
      }
   }

   &__inner {
      display: flex;
      flex-direction: column;
      max-width: 456px;
      width: 100%;
      padding: 74px 42px 85px 42px;
   }

   // .form__title

   &__title {
      max-width: 364px;
      margin: 0 auto;
      font-family: "Raleway";
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      margin: 0px 0px 66px 0px;
      color: #baf772;
   }

   // .form__box

   &__box {
      padding: 0px 55px 0px 54px;
   }

   // .form__input

   &__input {
      display: block;
      width: 100%;
      border-bottom: 1px solid #baf772;
      color: #baf772;
      padding: 0px 0px 6px 10px;
      background-color: transparent;
      & + & {
         margin-top: 61px;
      }
      &::placeholder {
         line-height: calc(18 / 14);
         color: #c4c4c4;
      }
   }

   // .form__btn

   &__btn {
      display: block;
      margin: 35px 0px 34px 2px;
      max-width: 260px;
      width: 100%;
      padding: 20px 0px 20px 0px;
      background: #baf772;
      border-radius: 45px;
      font-weight: 700;
      font-size: 18px;
      color: #000;
   }

   // .form__text

   &__text {
      position: relative;
      font-size: 13px;
      color: #c4c4c4;
      padding-left: 15px;
      cursor: pointer;
   }

   // .form__checkbox

   &__checkbox {
      appearance: none;
      &:checked,
      &:focus {
         & + .popup__castom {
            width: 15px;
            height: 15px;
            background-color: #baf772;
         }
      }
   }

   // .form__castom

   &__castom {
      position: absolute;
      left: -4px;
      top: 1px;
      width: 15px;
      height: 15px;
      border: 1px solid #c4c4c4;
   }
}

//====================================================================================================
